--extra-index-url https://download.pytorch.org/whl/cu130
--extra-index-url https://pypi.nvidia.com
torch==2.9.1+cu130
torchvision==0.24.1+cu130
tensorrt==10.13.2.6
opencv-python-headless==4.12.0.88
timm==1.0.22
numpy==2.2.4
onnx==1.20.0
safetensors==0.7.0
scenedetect[opencv]
yt-dlp==2025.12.8
vmaf-torch
https://github.com/NevermindNilas/TAS-Models-Host/releases/download/main/rife_ncnn_vulkan_python_tntwise-1.4.5-cp313-cp313-manylinux1_x86_64.whl
https://github.com/NevermindNilas/TAS-Models-Host/releases/download/main/upscale_ncnn_py-1.2.0-cp313-none-manylinux1_x86_64.whl 