torch==2.7.0
torchvision==0.22.1
opencv-python-headless==4.11.0.86
timm==1.0.15
numpy==2.2.4
spandrel==0.4.1
onnxruntime-directml==1.21.1
scenedetect[opencv]
yt-dlp==2025.5.22
https://github.com/NevermindNilas/TAS-Modes-Host/releases/download/main/rife_ncnn_vulkan_python_tntwise-1.4.5-cp313-cp313-win_amd64.whl
https://github.com/NevermindNilas/TAS-Modes-Host/releases/download/main/upscale_ncnn_py-1.2.0-cp313-none-win_amd64.whl
https://github.com/NevermindNilas/TAS-Modes-Host/releases/download/main/onnx_weekly-1.19.0.dev20250425-cp313-cp313-win_amd64.whl