torch==2.9.1
torchvision==0.24.1
opencv-python-headless==4.12.0.88
timm==1.0.22
einops==0.8.1
scenedetect[opencv]
yt-dlp==2025.12.8
onnx==1.20.1
openvino==2025.4.1
onnxscript==0.5.7
vmaf-torch
https://github.com/NevermindNilas/TAS-Models-Host/releases/download/main/rife_ncnn_vulkan_python_tntwise-1.4.5-cp313-cp313-win_amd64.whl
https://github.com/NevermindNilas/TAS-Models-Host/releases/download/main/upscale_ncnn_py-1.2.0-cp313-none-win_amd64.whl
https://github.com/NevermindNilas/TAS-Models-Host/releases/download/main/onnxruntime_openvino-1.23.2-cp313-cp313-win_amd64.whl