torch==2.11.0
torchvision==0.26.0
opencv-python-headless==4.13.0.92
timm==1.0.26
einops==0.8.2
scenedetect[opencv]
yt-dlp==2026.3.17
onnx==1.20.0
openvino==2026.0.0
onnxscript==0.6.2
vmaf-torch==1.1.0
https://github.com/NevermindNilas/TAS-Models-Host/releases/download/main/onnxruntime_openvino-1.23.2-cp313-cp313-win_amd64.whl
