#--extra-index-url https://download.pytorch.org/whl/cu124
opencv-python-headless
timm
numpy==1.26.4
kornia
scipy
psutil
GPUtil
spandrel
yt-dlp
requests
alive-progress
scikit-image
scenedetect[opencv]
pytorch-lightning
inquirer
rich-argparse
colored
torch==2.4.0
torchvision==0.19.0
https://github.com/NevermindNilas/TAS-Modes-Host/releases/download/main/polygraphy-0.49.13-py2.py3-none-any.whl
https://github.com/NevermindNilas/TAS-Modes-Host/releases/download/main/upscale_ncnn_py-1.2.0-cp312-none-manylinux1_x86_64.whl
https://github.com/NevermindNilas/TAS-Modes-Host/releases/download/main/rife_ncnn_vulkan_python-1.3.0-cp312-cp312-linux_x86_64.whl
