--extra-index-url https://download.pytorch.org/whl/cu121
requests
opencv-python
tqdm
cupy-cuda12x
timm
numpy<1.26
kornia
scipy
realcugan-ncnn-py
pytorch-lightning
torch==2.1.0 
torchvision
torchaudio 