opencv-python-headless
timm
numpy==2.2.2
kornia
scipy
wmi
spandrel
yt-dlp
requests
scenedetect[opencv]
onnxruntime-directml
pytorch-lightning
inquirer
anipy-cli
colored
rich
rich-argparse
flask
torchmetrics
torch==2.6.0
torchvision==0.21.0
celux==0.6.0
https://github.com/NevermindNilas/TAS-Modes-Host/releases/download/main/rife_ncnn_vulkan_python-1.2.1-cp312-cp312-win_amd64.whl
https://github.com/NevermindNilas/TAS-Modes-Host/releases/download/main/upscale_ncnn_py-1.2.0-cp312-none-win_amd64.whl

