setuptools==82.0.1
wheel-stub==0.5.0
numpy==2.2.6
omegaconf==2.3.0
psutil==7.2.2
inquirer==3.4.1
colored==2.3.2
rich==14.3.3
rich-argparse==1.7.2
flask-socketio==5.6.1
nelux==0.8.9 ; platform_system == "Windows"
