--extra-index-url https://download.pytorch.org/whl/nightly/cu121
wget
opencv-python
tqdm
timm
numpy
cupy-cuda12x
kornia
scipy
wmi
yt-dlp
einops
realcugan-ncnn-py
pytorch-lightning
torch==2.3.0.dev20240122+cu121
torchvision==0.18.0.dev20240122+cu121
https://github.com/NevermindNilas/TAS-Modes-Host/releases/download/main/rife_ncnn_vulkan_python-1.2.1-cp312-cp312-win_amd64.whl